@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue:#2980b9;
    --red:tomato;
    --orange:orange;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --dark-bg:rgba(0,0,0,.7);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid #999;
 }
 
body {

    background-color:#decdc5;

}
.delete-btn{
    display: block;
    text-align: center;
    background-color: var(--blue);
    color:var(--white);
 
    padding:1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}



.delete-btn:hover{
    background-color: #715e66;
    color: white;
}

.delete-btn i{
    padding-right: .5rem;
}


 
.delete-btn{
    margin-top: 0;
    background-color: white;
    color: #715e66;
}



.banner {
    font-size: 3rem;
    font-weight: bold;
    font-size: 140em;
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: #725e67;
    padding: 10px;
    text-transform: uppercase;
}

.banner span{
    font-size: 3rem;
}
.tablero {
    max-width: 1200px;
    margin: auto;
    display:contents;
    justify-content: space-between;
    contain: paint;
}

.tablero .box-container {
    padding: 2% 8%;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    grid-row-gap: 30px;
    column-gap: 1rem;
 
    transition: .3s;
}

.tablero .box-container .box {

    max-width: 200px;
    margin: auto;
    border: 3px solid #725e67;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    transition: .3s;
    background-color: #C3AEA5;
    color: #fff;
}

.image{
    float: left;
    top:50px;
}



@media screen and (max-width: 850px) {
    .contenedoor {
        display: block;
    }

    .box-container {
        width: 100% !important;
        align-items: center;
    }

    .banner {
        width: 100%;
    }

    .burro{
        align-items: center;
    }

    .image{
       display: block;
    }
}


.empty {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 2rem;
 
    padding: .5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #715e66;
    color: white;
  
}

.empty i {
    cursor: pointer;
    
}

.empty{
    text-align: center;
    padding: 1rem;
}

.box-container {
    padding: 2% 8%;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    grid-row-gap: 30px;
    column-gap: 1rem;
 
    transition: .3s;
}

.box-container .box {
    max-width: auto;
    margin: auto;
    border: 3px solid #725e67;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    transition: .3s;
    background-color: #C3AEA5;
    color: #fff;
}
.box-container .box a{
    font-size: 1rem;
}
p {
    font-size: 1rem;
    color:#715e66;
    font-weight: bold;
}

span{
    font-size: 1rem;
    color: white;
}

/*productos*/

.add-products{
    margin-top: -3.5rem;
    height: auto;
    position: relative;
}

input[type="file"]{
    display: none;
}

.form-box .imf{
    display: inline-block;
    text-transform: uppercase;
    color: #dddddd;
    background-color: #715e66;
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.35) ;
    border-radius: 3px;
}

.add-products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-field {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}
/*
.textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #F1E2DB;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

textarea:focus~label,
textarea:valid~label {
    top: -5px;
}*/

::placeholder {
    color: transparent;
}

.textarea {
    background-color: #decdc5;
    color: #715e66;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
}


.textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 200px;
    height: 100px;
    transition: all 0.2s;
}
  
.textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}
  
.textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}
  
